<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/Hibernate?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL57Dialect
        </property>
        <property name="show_sql">true</property> <!-- showing sql query by hibernate -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Mapping -->
        <mapping class="ir.mctab.java32.hibernate.projects.hibernatestart.entities.Incident" />
    </session-factory>
</hibernate-configuration>